$Primary: #eb2f64;
$Primary-light: #ff3366;
$Primary-dark: #ba265d;
$Primary-purple: purple;
$Grey-light-1: #faf9f9;
$Grey-light-2: #f4f2f2;
$Grey-light-3: #f0eeee;
$Grey-light-4: #ccc;
$Grey-dark-1: #333;
$Grey-dark-2: #777;
$Grey-dark-3: #999;
$Gradient: linear-gradient(to right, deeppink, purple);
$Gradient-left: linear-gradient(to left, deeppink, purple);
$arimo-font: "Arimo", sans-serif;
$box-shadow: 0.8rem 0.8rem 1rem $Grey-dark-2;
$box-shadow-hover: 0.4rem 0.4rem 0.8rem $Grey-dark-2;
$border: 2px solid $Grey-light-4;
