.dropdown {
  text-align: center;
  border-radius: 5%;
  transform: translateY(-10px);
  background-color: aliceblue;
  /* border: none; */
  outline: none;
  height: 4rem;
  width: 56%;
  font-size: larger;
  font-weight: 600;
}
